extends layout
block content
  h1= title
  - let shoeid = toShow._id
  - let shoebrand = toShow.shoe_brand
  - let shoecost = toShow.shoe_cost
  - let shoecolor = toShow.shoe_color
  div
    div.row
      div(class='shoeAttr mr-3') Shoe ID is:
      div #{shoeid}
    div.row
      div(class='shoeAttr mr-3') Shoe Brand is:
      div #{shoebrand}
    div.row
      div(class='shoeAttr mr-3') Shoe Color is:
      div #{shoecolor}
    div.row
      div(class='shoeAttr mr-3') Shoe Cost is:
      div #{shoecost}